<% include ./partials/header %>
<% include ./partials/navbar %>
<% include ./partials/dashboard %>

<br>
<a href="/mess/members/<%= user.mess_id %>" class="view btn-sm active">View Member</a>
<a href="/mess/invite/<%= user.mess_id %>" class="view btn-sm active">Invite Member</a>
<br><br><br>


<% include ./partials/footer %>